
@{
    ViewBag.Title = "ClassPupil";
}

<h2>ClassPupil</h2>
<h1>name : @ViewBag.classPupil.name</h1>
<h1>lname : @ViewBag.classPupil.lname</h1>
<h1>year born : @ViewBag.classPupil.yearBorn</h1>
<h1>great : @ViewBag.classPupil.great</h1>


